.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.about__page {
  margin: 30px;
}

.about__page h1 {
  font-size: 45px;
  margin-bottom: 50px;
  margin-top: 150px;
}

.about__page h3 {
  font-size: 35px;
  color: aquamarine;
}

.about__page p {
  line-height: 1.7;
  font-size: 22px;
}

.about__page .tmdb {
  margin-top: 50px;
}

.about__page .inform {
  display: flex;
  justify-content: space-between;
}

.about__page .about__project {
  margin-right: 2.5em;
}

@media screen and (max-width: 780px) {
  .wrapper {
    margin: 30px;
  }

  .about__page {
    margin: 0;
  }

  .about__page h1 {
    font-size: 35px;
    margin-top: 90px;
  }

  .about__page h3 {
    font-size: 25px;
  }

  .about__page p {
    font-size: 16px;
  }
}
