.detail__movie {
  margin-bottom: 70px;
  font-weight: 300;
  text-decoration: none;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.movie__bgPoster {
  background-color: #485661;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: auto;
  padding: 40px;
  padding-bottom: 10px;
}

.buttons {
  margin-left: 20px;
  display: flex;
}

.fav__button {
  margin-right: 20px;
}

.movie__sPoster {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.movie__sPoster img {
  border: 5px solid #f5f5f5;
  border-radius: 10px;
  max-width: 350px;
}

.detail__movie p {
  margin-top: 1em;
  margin-bottom: 1.8em;
}

.detail__movie h1 {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.detail__movie h3 {
  color: aquamarine;
  font-size: 1.8em;
}

.detail__movie p {
  font-size: 1.3em;
  line-height: 1.7;
}

.detail__movie .utilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.movie__content {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie__information {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

.overview {
  width: 90%;
}

.released {
  width: 50%;
}

.rates {
  width: 50%;
}

@media (max-width: 1300px) {
  .detail__movie {
    display: block;
  }
  .movie__bgPoster {
    height: auto;
  }
}

@media (min-width: 1600px) {
  .detail__movie {
    display: block;
  }
  .movie__bgPoster {
    height: auto;
    padding: 100px;
  }
}

@media (max-width: 900px) {
  .detail__movie h1 {
    font-size: 2em;
  }

  .detail__movie img {
    max-width: 200px;
    margin-top: 2em;
  }

  .detail__movie .buttons {
    margin: 0;
  }

  .detail__movie button {
    padding: 10px;
    margin-bottom: 20px;
    width: auto;
    max-height: 50px;
  }

  .detail__movie button svg {
    max-width: 25px;
  }
}

@media (max-width: 635px) {
  .detail__movie h1 {
    font-size: 1em;
    margin-bottom: 10px;
  }

  .detail__movie h3 {
    font-size: 1em;
  }

  .detail__movie p {
    font-size: 0.8em;
  }

  .detail__movie .buttons {
    margin-top: 1.5em;
  }

  .detail__movie button {
    font-size: 0.7em;
  }
}
