.fav__button button {
  color: #fff;
  border: 0.75px solid #fff;
  background: transparent;
  padding: 15px;
  font-weight: bold;
  border-radius: 20px;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.fav__button svg {
  color: tomato;
  margin-right: 20px;
}

@media screen and (max-width: 780px) {
  .fav__button button {
    font-size: smaller;
  }
}
