.movie {
  background-color: hwb(205 4% 79%);
  margin-bottom: 70px;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: #adaeb9;
  display: grid;
  grid-gap: 20px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 13px 27px -5px #a1658d;
  position: relative;
}

.movie__img {
  position: relative;
  top: -50px;
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-right: 30px;
  box-shadow: 0 30px 60px -12px hwb(0 9% 90%), 0 18px 36px -18px hwb(0 9% 90%),
    0 -12px 36px -8px hwb(0 9% 90%);
}

.movie__title,
.movie__year {
  margin: 0;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.3em;
}

.movie__title a {
  margin-bottom: 5px;
  font-size: 1em;
  color: white;
  text-decoration: none;
}

.movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
  font-size: 20px;
}

.movie__overview {
  font-size: 1.2em;
  font-family: Lato, sans-serif;
  line-height: 1.7;
}

.movie__genres li {
  margin-right: 10px;
  font-size: 14px;
}

.movie__rate {
  display: flex;
  align-items: center;
  width: 100%;
}

.movie__rate p {
  color: #0098ff;
  font-size: 1.2em;
  margin-left: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.star {
  height: 25px;
}

.star__green {
  filter: hue-rotate(304deg) saturate(94%) brightness(230%);
  height: 25px;
}

.star__yellow {
  filter: hue-rotate(174deg) saturate(94%) brightness(230%);
  height: 25px;
}

.heart {
  position: absolute;
  top: -1em;
  right: -1.3em;
  max-width: 3em;
  width: 80%;
  z-index: 1;
  opacity: 0.7;
}

.plus {
  color: aquamarine;
  position: absolute;
  top: -0.5em;
  right: -0.4em;
  z-index: 1;
  opacity: 0.7;
}

.movie__utilities button {
  margin-bottom: 20px;
}

.info__link a {
  font-size: 20px;
}

.more__info {
  color: #fff;
  border: 0.75px solid #fff;
  background: transparent;
  padding: 5px;
  width: 100%;
}

.more__info:hover,
.more__info::after,
.more__info:focus {
  border-color: aquamarine;
  color: aquamarine;
}

@media screen and (max-width: 780px) {
  .movie {
    display: grid;
    grid-gap: 10px;
  }
  .movie__poster img {
    max-width: 200px;
    height: auto;
  }

  .movie .heart,
  .movie .plus {
    max-width: 30px;
    height: auto;
    position: absolute;
    right: -10px;
    top: -5px;
  }

  .movie .movie__title a {
    font-size: 1em;
  }

  .movie .more__info {
    font-size: 0.8em;
  }

  .movie .movie__rate .star,
  .star__yellow,
  .star__green {
    max-width: 70px;
    height: auto;
  }

  .movie p {
    font-size: 1em;
  }

  .movie__utilities button {
    padding: 10px;
  }
}
