.search__input input {
  width: 100%;
  background: transparent;
  border: none;
  line-height: 3;
  padding: 0 10px;
  font-size: 1.3em;
  color: #fff;
  outline: none;
}

.search__input {
  display: flex;
  padding: 0px 90px;
}

@media (max-width: 1180px) {
  .search__input {
    padding: 10px 20px 0px;
  }
}

@media (max-width: 780px) {
  .search__input {
    padding: 10px 20px 0px;
  }

  .search__input svg {
    font-size: 1.2em;
  }

  .search__input input {
    font-size: 1em;
  }
}
