.search__input input {
  width: 100%;
  background: transparent;
  border: none;
  line-height: 3;
  padding: 0 10px;
  font-size: 25px;
  color: #fff;
}

.search__input {
  display: flex;
  padding: 0 30px;
}

@media (max-width: 780px) {
  .search__input {
    padding: 0 20px;
  }

  .search__input svg {
    font-size: 23px;
  }

  .search__input input {
    font-size: 22px;
  }
}
