.select__form {
  padding: 10px 110px;
}

.select__form label {
  margin-right: 20px;
  font-size: 1.3em;
}

.select__form select {
  background-color: transparent;
  color: #fff;
  font-size: 1em;
  height: 40px;
  padding: 10px;
}

.select__form option {
  color: black;
}

@media (max-width: 1180px) {
  .select__form {
    padding: 10px 40px 20px;
  }
}

@media (max-width: 780px) {
  .select__form label {
    font-size: 0.9em;
  }

  .select__form select {
    font-size: 0.7em;
    height: 30px;
    padding: 5px;
  }
}
