.watch__button button {
  color: white;
  border: 0.75px solid #fff;
  background: transparent;
  padding: 15px;
  font-weight: bold;
  font-size: 1em;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.watch__button svg {
  color: aquamarine;
  margin-right: 20px;
}

@media screen and (max-width: 780px) {
  .watch__button button {
    font-size: smaller;
  }
}
